<div id="left">
  <ul>
    {{#each players}}
      <li>{{Etunimi}} {{Sukunimi}} {{Pelinumero}}</li>
    {{/each}}
  </ul>
</div>
<div id="right">
  <ol>
    {{#each teams}}
      <li>{{Nimi}} {{Kaupunki}} {{Perustamisvuosi}}</li>
    {{/each}}
  </ol>
</div>